{% extends 'parent/base.html' %}
{% load static %}
{% block title %}cart{% endblock %}
{% block content %}
    <div class="header">
    <h1> سبد خرید</h1>
    </div>
<div class="cart-count">
    {% for item in cart %}

        <div class="product-item" data-item-id="{{ item.product.id }}">
            <a href="{% url "shop:product_detail" item.product.id item.product.slug%}">
                <img src="{{ item.product.first.file.url }}" class="product-image">
            </a>
            <div class="product-info">
                <a href="{% url 'shop:product_detail' item.product.id item.product.slug %}">
                    item name:{{ item.product.name }}
                </a>
                <p>inventory:<span id="item-quantity-{{ item.product.id }}">{{ item.quantity }}</span></p>
                <p>price per one:<span>{{ item.price }}</span></p>
                <p> total price:<span id="item-total-{{ item.product.id }}">{{ item.total }}</span></p>
            </div>
            <div class="actions">
                <div class="quantity-add">+</div>
                <div class="quantity-decrease">-</div>
                <div class="quantity-remove">delete</div>
            </div>
        </div>

    {% endfor %}
  <div class="total-price">
      <p>total price:<span>{{ cart.get_total_price }}</span></p>
      <p>post price:<span>{{ cart.get_post_price }}</span></p>
      <p>payment:<span>{{ cart.get_total_price }}</span></p>

  </div>
    <div class="checkout-buttons">
        <div class="continue-bth"><a href="{% url 'orders:verify_phone' %}">continue shopping</a></div>
        <div class="back-btn"><a href="{% url 'shop:products_list' %}">back list of products</a></div>
    </div>
</div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){

        $('.quantity-add').on('click', function(){
            updateQuantity($(this).closest('.product-item').data('item-id'), 'add');
        });

        $('.quantity-decrease').on('click', function(){
            updateQuantity($(this).closest('.product-item').data('item-id'), 'decrease');
        });

        $('.quantity-remove').on('click', function(){
            removeItem($(this).closest('.product-item').data('item-id'));
        });

        function updateQuantity(itemId, action){
            $.ajax({
                type: 'POST',
                url: '{% url 'cart:update_quantity' %}',
                data: {
                    'item_id': itemId,
                    'action': action,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response){
                    if (response.success) {
                        $('#item_count').text(response.item_count);
                        $('#total_price').text(response.total_price);
                        $('#item-quantity-'+ itemId).text(response.quantity);
                        $('#item-total-'+ itemId).text(response.total + ' '+ 'تومان');
                        $('#item-total_price').text(response.total_price + ' ');
                        $('#item-final_price').text(response.final_price + ' '+ 'تومان');
                    } else {
                        alert('Error updating quantity!');
                    }
                }

            });
        }

        function removeItem(itemId){
            $.ajax({
                type: 'POST',
                url: '{% url 'cart:remove_item' %}',
                data: {
                    'item_id': itemId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response){
                    if (response.success) {
                        $('#item_count').text(response.item_count);
                        $('#total_price').text(response.total_price);
                        $('#item-total_price').text(response.total_price);
                        $('#item-final_price').text(response.final_price);
                        $(`.product-item[data-item-id=${itemId}]`).remove();
                    } else {
                        alert('Error updating quantity!');
                    }
                }

            });
        }

    });

</script>
{% endblock %}
