.header{
    text-align:center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 60px;
}
.container{
    display: flex;
}
.small-div{
    width: 100px;
    height: 150px;
    background-color: dimgray;
    padding: 10px;
}
a:link, a:visited{
    color: #1c1919;
    text-decoration: none;

}
.product{
    border:1px solid #252121;
    padding: 10px;
    text-align: center;
}
.pic{
    width: 90%;
}
.price{
    position: relative;
    margin: 10px;
}
.original-price{
    text-decoration: line-through;
}
.discounted-price{
    color: red;
}
.product-container{
    display: flex;
    justify-content: space-between;
    margin: 20px ;
}
.product-detail{
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
     border: 1px solid #ccc;
}
.product-images{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.pr-dc{
    clear:both;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.cart-container{
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #0c1433;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0, 3);
}
.cart-link{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;

}
.cart-info-container{
    width: 200px;
    height: 50px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: 20px;

}
.cart-info{
    color: #fff;
}
.cart-info{
    color: #fff;
}
.product-info{
    background-color: dimgray;
}
.cart-count{
    width: 80%;
    margin: 190px auto;
    background-color: lightslategray;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.product-item{
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    align-items: center;
}
.product-image{
    max-width: 200px;
    max-height: 200px;
    margin-right: 20px;
}
.product-info{
    flex-grow: 1;
    text-align: left;
}
.actions{
    background-color: #0b1a5e;
    color: #fff;
    padding: 10px;
}
.quantity-add, .quantity-decrease, .quantity-remove{
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #0b1a5e;
}
.total-price{
    font-weight: bold;
    margin-top: 20px;
}
.checkout-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.continue-bth, .back-btn{
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
}